<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">Sharepedia.co.uk</a></h3>
            <ul>
                <li><%=link_to "Home",root_path %></li>
               i <li><%=link_to "News",news_path %></li>
                <li><%=link_to "Research",research_path %></li>
                    </ul>

  <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>

   </div>

